<h1>SHOP DETAILS</h1>
<img src="/img/shop/{{detail.photo}}" alt="jeux">
<h2>{{detail.name}}</h2>
<p> DESCRIPTION: <br>
{{detail.description}}</p>
<div>
    {{detail.location.address}}
</div>
<div>
    <img src='{{staticmap detail.location.coordinates}}'>
</div>